<div class="calendar-container">
  <div class="calendar-header">
    <button class="calendar-header-button" (click)="previusDay()">
      <i class="fa-solid fa-chevron-left"></i>
    </button>
    <div class="calendar-header-label">
      {{ calendarEvents.dateAndTime | date : "dd MMMM yyyy" }}
    </div>
    <button class="calendar-header-button" (click)="nextDay()">
      <i class="fa-solid fa-chevron-right"></i>
    </button>
  </div>
  <ul class="calendar-body">
    <li
      class="calendar-event"
      *ngFor="let event of calendarEvents.events; let i = index"
    >
      <div class="calendar-event-header" (click)="flip(i)">
        <div class="calendar-time">{{ event.time }}</div>
        <div class="calendar-title">
          {{ event.title }}
        </div>
        <span class="spacer"></span>
        <div class="calendar-arrow-wrapper" (click)="flip(i)">
          <i
            class="calendar-arrow"
            [@rotateArrow]="arrowIndex === i ? 'down' : 'up'"
          ></i>
        </div>
      </div>
      <div
        class="event-body-wrapper"
        [@eventAnimations]="getEventState(i)"
        [ngClass]="getEventState(i)"
      >
        <div class="event-body">test test test</div>
      </div>
    </li>
  </ul>
</div>
