.calendar-container {
  width: 100%;
}

.calendar-header {
  border-top: #e40041 10px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  padding: 40px;
  color: #e40041;
  margin-bottom: 5px;
}
.calendar-header-label {
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 3px;
}
.calendar-header-button {
  padding: 5px;
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #e40041;
  font-size: 20px;
}

.calendar-body {
  list-style: none;
  margin: 0;
  padding: 0;
}
.calendar-event {
  border-top: 1px dotted #dce7eb;
}
.calendar-event-header {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 600px;
  cursor: pointer;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 1px;
  color: #e40041;
  padding: 10px 5px;
}
.calendar-event-header:hover {
  background-color: #00000010;

}
.calendar-time {
  font-weight: 500;
  background-color: #e40041;
  color: #fff;
  padding: 5px;
  font-size: 14px;
  border-radius: 2px;
}
.event-body-wrapper {
  padding: 0;
  pointer-events: none;
}
.event-body-wrapper.open {
  pointer-events: auto;
}
.event-body-wrapper:hover {
  opacity: 0.8;
}
.event-body {
  padding: 10px 10px;
}
.calendar-arrow-wrapper {
  position: relative;
  width: 20px;
  height: 20px;
}
.calendar-arrow {
  position: absolute;
  transform: translate(-6px, 0);
  top: 50%;
  transform: translateY(-50%);

}
.calendar-arrow:before,
.calendar-arrow:after {
  content: "";
  position: absolute;
  background-color: #e40041;
  width: 3px;
  height: 6px;
}
.calendar-arrow::before {
  transition-duration: 0.5s;
  left: 0;
  transform-origin: 0% 50%;
}
.calendar-arrow::after {
  transition-duration: 0.5s;
  right: 0;
  transform-origin: 100% 50%;
}
.calendar-arrow.up::before {
  transition-duration: 0.5s;
  transform: rotate(45deg);
}
.calendar-arrow.up::after {
  transition-duration: 0.5s;
  transform: rotate(-45deg);
}
.calendar-arrow.down::before {
  transition-duration: 0.5s;
  transform: rotate(-135deg);
}
.calendar-arrow.down::after {
  transition-duration: 0.5s;
  transform: rotate(135deg);
}

.calendar-filter {
  width: 600px;
  padding: 40px 0;
  color: #e40041;
  margin-bottom: 5px;
}
.calendar-filter-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.calendar-filter ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.calender-filter li {
  margin: 0;
  padding: 0;
}
.checked {
  color: #e40041;
}
