<div class="calendar-container">
  <div class="calendar-header">
    <button class="calendar-header-button" (click)="previusDay()">
      <div class="arrow-left"></div>
    </button>
    <div class="calendar-header-label">
      {{ calendarEvents.dateAndTime | date : "dd MMMM yyyy" }}
    </div>
    <button class="calendar-header-button" (click)="nextDay()">
      <div class="arrow-right"></div>
    </button>
  </div>
  <ul class="calendar-body">
    <li class="calendar-event" *ngFor="let event of calendarEvents.events">
      <div class="calendar-event-header">
        <div class="calendar-time">{{ event.time }}</div>
        <div class="calendar-title">
          <h4>{{ event.title }}</h4>
        </div>
        <div class="flip" (click)="flip()">+</div>
      </div>
      <div class="event-body">test test test</div>
    </li>
  </ul>
</div>
