.calendar-container {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 8px;
  background-color: #fff;
  /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); */
}
.calendar-body {
  list-style: none;
  margin: 0;
  padding: 0;
}
.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #e40041;
  margin-bottom: 10px;
}
.btn-container {
  width: 100%;
  position: relative;
}
.arrow-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #FFF;
}


a {
  width: 100%;
  text-decoration: none;
  background-color: #e40041;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px 10px 20px;
  border-radius: 5px;
  transition: 0.3s;
}
a:hover {
  color: #e40041;
  background-color: #00000010;
}
.calendar-header-label {
  cursor: pointer;
  font-size: 20px;
  line-height: 42px;
}
.calendar-icon {
  font-size: 20px;
  border-radius: 5px;
  padding: 5px 7.5px;
}
.calendar-event-header {
  border-top: 1px dotted #dce7eb;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 1px;
  color: #e40041;
  padding: 10px 5px;
  width: 100%;
}
.calendar-event-header:hover {
  background-color: #00000010;
}
.calendar-time {
  font-weight: 500;
  background-color: #e40041;
  color: #fff;
  padding: 5px;
  font-size: 14px;
  border-radius: 2px;
}
.calendar-title {
  font-size: 14px;
}
.event-body-wrapper {
  padding: 0;
  pointer-events: none;
}
.event-body-wrapper.open {
  pointer-events: auto;
}
.event-body-wrapper:hover {
  opacity: 0.8;
}
.event-body {
  padding: 10px 10px;
}
.calendar-arrow-wrapper {
  position: relative;
  width: 20px;
  height: 20px;
}
.calendar-arrow {
  position: absolute;
  transform: translate(-6px, 0);
  top: 50%;
  transform: translateY(-50%);

}
.calendar-arrow:before,
.calendar-arrow:after {
  content: "";
  position: absolute;
  background-color: #e40041;
  width: 3px;
  height: 6px;
}
.calendar-arrow::before {
  transition-duration: 0.5s;
  left: 0;
  transform-origin: 0% 50%;
}
.calendar-arrow::after {
  transition-duration: 0.5s;
  right: 0;
  transform-origin: 100% 50%;
}
.calendar-arrow.up::before {
  transition-duration: 0.5s;
  transform: rotate(45deg);
}
.calendar-arrow.up::after {
  transition-duration: 0.5s;
  transform: rotate(-45deg);
}
.calendar-arrow.down::before {
  transition-duration: 0.5s;
  transform: rotate(-135deg);
}
.calendar-arrow.down::after {
  transition-duration: 0.5s;
  transform: rotate(135deg);
}
