<ng-container *ngIf="story">
  <nav class="story-navigation">
    <button
      class="admin-btn-primary"
      [routerLink]="['/admin/update-story', story.id]"
    >
      Edit
      <i class="fa-solid fa-pen-nib"></i>
    </button>
    <button class="admin-btn-warn" (click)="onDeleteStory()">
      Delete
      <i class="fa-solid fa-trash-can"></i>
    </button>
  </nav>
  <div class="info-container">
    <div class="title-wrapper">
      <h3>Title</h3>
      <p>{{ story.title }}</p>
    </div>
    <div class="category-wrapper">
      <h3>Category</h3>
      <p>{{ categories.get(story.category) }}</p>
    </div>
  </div>
  <article class="article ql-editor">
    <div [innerHTML]="story.htmlData | sanitizeHtml"></div>
  </article>
</ng-container>
