.header {
  height: 100px;
  width: 100%;
  border-bottom: 2px solid #E40042;
  border-image: linear-gradient(to right, #E40042, #ffffff);
  border-image-slice: 1;
  display: flex;
}
.header-logo {
  height: 100%;
  min-width: 100px;
  margin-left: 20px;
  cursor: pointer;
  padding: 10px;
  flex-shrink: 0;
}
.header-logo img {
  height: 100%;
  width: 100%;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.header-menu-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header-menu-top {
  border-bottom: 1px solid #E40042;
  border-image: linear-gradient(to right, #E40042, #ffffff);
  border-image-slice: 1;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
}
.header-menu-top a {
  color: #424242;
}
.header-menu-top a:hover {
  color: #E40042;
}
.header-menu-bottom {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 12px;
}
.header-menu-bottom a {
  color: #757575;
}
.header-menu-bottom a:hover {
  color: #E40042;
}

.header-menu-item-top {
  padding: 0 10px;
  cursor: pointer;
}
.header-menu-item-bottom {
  padding: 0 10px;
  cursor: pointer;
}
.active {
  background: linear-gradient(to right, #e4004129, #ffffff);
  border-radius: 4px;
}
