<div class="header">
  <div class="header-logo">
    <img src="assets/images/see_cult_logo.png" alt="logo" routerLink="" />
  </div>
  <div class="header-menu-container">
    <div class="header-menu-top">
      <a
        class="header-menu-item-top"
        *ngFor="let articleType of articleTypes"
        [routerLink]="articleType[1]"
        routerLinkActive="active"
      >
        {{ articleType[0] }}
      </a>
    </div>
    <div class="header-menu-bottom">
      <a
        class="header-menu-item-bottom"
        *ngFor="let category of categories | keyvalue"
        [routerLink]="
          'kategorija/' + category.value.toLowerCase().replaceAll(' ', '-')
        "
        routerLinkActive="active"
      >
        {{ category.value }}
      </a>
    </div>
  </div>
</div>
<ng-container *ngIf="bannerShow">
  <div class="header-banner">
    <img src="assets/images/temp-banner.gif" alt="banner" />
    <button class="header-banner-btn-close" (click)="bannerClose()">
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>
</ng-container>
