<div class="header">
  <div class="header-logo">
    <img src="assets/images/see_cult_logo.png" alt="logo" />
  </div>
  <div class="header-menu-container">
    <div class="header-menu-top">
      <a
        class="header-menu-item-top"
        *ngFor="let articleType of articleTypes"
        [routerLink]="articleType"
        routerLinkActive="active"
      >
        {{ articleType }}
      </a>
    </div>
    <div class="header-menu-bottom">
      <a
        class="header-menu-item-bottom"
        *ngFor="let category of categories | keyvalue"
        [routerLink]="'kategorija/' + category.value"
        routerLinkActive="active"
      >
        {{ category.value }}
      </a>
    </div>
  </div>
</div>
