<header>
  <nav class="admin-nav">
    <ul>
      <li>
        <a
          routerLink="/admin"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Admin Panel</a
        >
      </li>
      <li>
        <a routerLink="/admin/stories" routerLinkActive="active">Stories</a>
      </li>
      <li>
        <a routerLink="/admin/create-story" routerLinkActive="active"
          >Create Story</a
        >
      </li>
      <li>
        <a routerLink="/admin/events" routerLinkActive="active"
          >Calendar Events</a
        >
      </li>
      <li>
        <a routerLink="/admin/create-calendar-event" routerLinkActive="active"
          >Create Calendar Event</a
        >
      </li>
      <li>
        <a routerLink="/admin/manage-tags" routerLinkActive="active"
          >Manage Tags</a
        >
      </li>
      <li>
        <a routerLink="">Live</a>
      </li>
      <li>
        <app-drop-down
          [label]="testName"
          [options]="testOptions"
          [selectedOptionIndex]="0"
          (onOptionSelectedIndexChange)="onOptionSelected($event)"
        ></app-drop-down>
      </li>
    </ul>
  </nav>
</header>
