.calendar-container {
  width: 100%;
}
.calendar-weekday {
  text-align: center;
  width: 600px;
  padding: 15px;
  color: #e40041;
  font-weight: 500;

}
.calendar-header {
  border-top: #e40041 10px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  padding: 40px;
  color: #e40041;
  margin-bottom: 5px;
}
.calendar-header-label {
  font-size: 28px;
  line-height: 42px;
  letter-spacing: 1.5px;
}
.calendar-header-button {
  padding: 5px;
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #e40041;
  font-size: 20px;
}

.calendar-body {
  list-style: none;
  margin: 0;
  padding: 0;
}
.calendar-event {
  border-top: 1px dotted #dce7eb;
}
.calendar-event-header {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 600px;
  cursor: pointer;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 1px;
  color: #e40041;
  padding: 10px 5px;
}
.calendar-event-header:hover {
  background-color: #00000010;

}
.calendar-time {
  font-weight: 500;
  background-color: #e40041;
  color: #fff;
  padding: 5px;
  font-size: 14px;
  border-radius: 2px;
}
.event-body-wrapper {
  padding: 0;
  pointer-events: none;
}
.event-body-wrapper.open {
  pointer-events: auto;
}
.event-body-wrapper:hover {
  opacity: 0.8;
}
.event-body {
  padding: 10px 10px;
}
.calendar-arrow-wrapper {
  position: relative;
  width: 20px;
  height: 20px;
}
.calendar-arrow {
  position: absolute;
  transform: translate(-6px, 0);
  top: 50%;
  transform: translateY(-50%);

}
.calendar-arrow:before,
.calendar-arrow:after {
  content: "";
  position: absolute;
  background-color: #e40041;
  width: 3px;
  height: 6px;
}
.calendar-arrow::before {
  transition-duration: 0.5s;
  left: 0;
  transform-origin: 0% 50%;
}
.calendar-arrow::after {
  transition-duration: 0.5s;
  right: 0;
  transform-origin: 100% 50%;
}
.calendar-arrow.up::before {
  transition-duration: 0.5s;
  transform: rotate(45deg);
}
.calendar-arrow.up::after {
  transition-duration: 0.5s;
  transform: rotate(-45deg);
}
.calendar-arrow.down::before {
  transition-duration: 0.5s;
  transform: rotate(-135deg);
}
.calendar-arrow.down::after {
  transition-duration: 0.5s;
  transform: rotate(135deg);
}
.calendar-title {
  font-size: 14px;
}
.calendar-filter {
  width: 600px;
  padding: 40px 0;
  color: #e40041;
  margin-bottom: 5px;
}
.calendar-filter-list {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #ffb831,#ff6600,#ff0f00,#ff0066,#cc0099,#6d3195,#333399,#000);
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  width: fit-content;
  margin: auto;
}

.calender-filter li {
  margin: 0;
  padding: 0;

}
.calendar-filter-btn {
  transition: transform 0.3s ease-in-out, border 0.3s ease-in-out;
  color: #fff;
  padding: 2.5px 5px;
  border: 2.5px solid #fff;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
}
.checked {
  transform: scale(1.1);
  border: transparent 2.5px solid;
  animation: color-shake 0.7s ease-in-out;
}

@keyframes color-shake {
  0% {
    background-color: #ffb831;
    color: #000;
  }
  25% {
    background-color: #ff0f00;
    color: #333399;
  }
  50% {
    background-color: #cc0099;
    color: #fff;
  }
  75% {
    background-color: #333399;
    color: #ff0f00;
  }
  100% {
    background-color: #000;
    color: #ffb831;
  }
}

.calendar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 50px;
}
.calendar-nav-btn {
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  padding: 10px 5px;
  margin: 0;
  border: none;
  cursor: pointer;
  font-size: 20px;
  background-color: #000000;
  width: 280px;
  color: #e4e4e4;
  position: relative;
  border: none;
  outline: none;
}
.calendar-nav-btn:active {
  animation: color-shake-smooth 0.7s ease-in-out;
}
.calendar-nav-btn:hover {
  color: #fff;
  background-color: #e40041;
}
.arrow {
  position: absolute;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #fff;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
@keyframes color-shake-smooth {
  0% {
    background-color: #333399;
  }
  50% {
    background-color: #ff0f00;
  }
  100% {
    background-color: #000;
  }
}
.active{
  color: #fff;
}
.admin-btn-container button {
  margin: 0 15px;
  padding: 5px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 20px;
  color: #e40041;
}
.admin-btn-container .btn-update:hover {
  color: #00ff00;
}
.admin-btn-container .btn-delete:hover {
  color: #ff0000;
}
