<ng-container *ngIf="manageTagsModalShow && tags.length > 0">
  <div [ngClass]="isModal ? 'background-fixed' : ''">
    <div
      [ngClass]="
        isModal ? 'manage-tags-container-fixed' : 'manage-tags-container'
      "
    >
      <div class="top-bar">
        <h3>Manage Tags</h3>
        <ng-container *ngIf="isModal">
          <button class="admin-btn-warn" (click)="onClose()">
            <i class="fa-solid fa-times"></i>
          </button>
        </ng-container>
      </div>
      <div class="top-row">
        <button
          [ngClass]="
            savingCompleted ? 'admin-btn-primary' : 'admin-btn-primary disabled'
          "
          (click)="onSave()"
          (click)="onAddTag()"
        >
          Save
        </button>
        <div class="add-tag-container">
          <input
            type="text"
            placeholder="Add Tag"
            [(ngModel)]="newTag"
            (keyup.enter)="onAddTag()"
          />

          <button class="admin-btn-primary" (click)="onAddTag()">
            <i class="fa-solid fa-plus"></i>
          </button>
        </div>
      </div>
      <ul class="tags-container">
        <li class="tag" *ngFor="let tag of tags">
          <p>{{ tag.tagName }}</p>
          <button class="admin-btn-warn" (click)="onDeleteTag(tag)">
            <i class="fa-solid fa-trash-can"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="tags.length === 0">
  <div [ngClass]="isModal ? 'background-fixed' : ''">
    <app-loading></app-loading>
  </div>
</ng-container>
<div class="saved-msg-container" #savedMsgContainer></div>
<div class="error-msg-container" #errorMsgContainer></div>
