.bar {
    padding: 10px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: flex-end;
    margin: auto;
    margin-bottom: 1rem;
    width: 100%;
}
.info-wrapper {
    width: 100%;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    padding: 10px;
}
button {
    margin-left: 10px;
}
.main-content {
    max-width: 90%;
}
.main-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.editor-wrapper {
    width: 49.5%;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 5px;
}

.preview-wrapper {
    width: 49.5%;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 5px;
}
.preview {
    padding: 10px;
    border-top:#ccc 1px solid;
}
:host ::ng-deep .preview img {
    max-width: 100%;
}

.input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}
.input:focus {
    outline: none;
}


.category-wrapper select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}
.category-wrapper select:focus {
    outline: none;
}
.upload-box {
    display: inline-block;
    margin: 0.2rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #000;
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.3s ease;
}
.upload-box:hover {
    background-color: #e0e0e0;
}
.upload-box:active {
    background-color: #bdbdbd;
}
#file-upload-default {
    display: none;
}

@media screen and (max-width: 1024px) {
    .main-wrapper {
        flex-direction: column;
    }
    .editor-wrapper {
        width: 100%;
        margin-bottom: 10px;
    }
    .preview-wrapper {
        width: 100%;
        margin-bottom: 10px;
    }
}
