.drop-down-container {
  position: relative;
}
.drop-down-label {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  background-color: #fff;
  cursor: pointer;
}
.drop-down-label:hover {
  border-color: #aaa;
}
.drop-down-menu {
  position: absolute;
  top: 100%;
  left: 1rem;
  width: 100%;
  padding: 0.5rem 0.2rem;
  border-radius: 0.25rem;
  background-color: #fff;
  z-index: 9;
  list-style: none;
  width: max-content;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.drop-down-menu.open {
  pointer-events: auto;
}
li {
  padding: 0.2rem 0.4rem;
  cursor: pointer;
}
li::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: width 0.3s;
}
li:hover::after {
  width: 100%;
}
.active {
  color: #671ee5;
}
a {
  text-decoration: none;
  color: #000;
}
