<div class="drop-down-container">
  <label class="drop-down-label" (click)="showOptionsToggle()" #dropDownLabel>
    {{ label }}
  </label>
  <ul
    class="drop-down-menu"
    [@eventAnimationsState]="getEventState()"
    [ngClass]="getEventState()"
    #dropDownMenu
  >
    <ng-container *ngFor="let option of options; let i = index">
      <li
        [class.active]="i === selectedOptionIndex"
        (click)="onOptionSelected(i); showOptions = false"
      >
        {{ option }}
      </li>
    </ng-container>
  </ul>
</div>
