<ng-container *ngIf="show">
  <div class="alert_window">
    <div class="alert_window_content">
      <div class="alert_window_header">
        <div class="alert-window_header_title">
          <h2>{{ title }}</h2>
        </div>
        <div class="alert-window_header_close">
          <button class="btn-close" (click)="closeAlertWindow()">
            <i class="fa-solid fa-xmark"></i>
          </button>
        </div>
      </div>
      <div class="alert_window_body">
        <p>{{ message }}</p>
      </div>
      <div class="alert_window_footer">
        <button class="admin-btn-primary" (click)="closeAlertWindow()">
          OK
        </button>
      </div>
    </div>
  </div>
</ng-container>
