:host ::ng-deep .article img {
    width: 100%;
}
.article {
    resize: horizontal;
    overflow: auto;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    min-width: 280px;
    max-width: 813px;
    margin: auto;
}
