<!-- Create header and show if not on admin route -->
<ng-container *ngIf="!isOnAdminRoute()">
  <app-header></app-header>
</ng-container>
<ng-container *ngIf="isOnAdminRoute()">
  <app-admin-header></app-admin-header>
</ng-container>
<div class="content">
  <div class="banner-container"></div>
  <router-outlet></router-outlet>
  <aside class="aside-container">
    <ng-container *ngIf="!hideMiniCalendar">
      <app-calendar-mini></app-calendar-mini>
    </ng-container>
  </aside>
</div>
<footer class="footer"></footer>
