<p>{{ storyType }}</p>
<!-- <ng-container *ngIf="stories.length > 0">
  <div class="paginated-container">
    <article class="story" *ngFor="let story of stories">
      {{ story.title }}
      <div class="border-inner"></div>
    </article>
  </div>

</ng-container> -->
<ng-container *ngIf=""></ng-container>
<!-- to do change code to get it from map -->
<!-- ng container with ngIf stories map page 1 size greater then 0 -->
<ng-container *ngIf="stories.get('1')">
  <div class="paginated-container">
    <article class="story" *ngFor="let story of stories.get('1')">
      <div class="icon-container">
        <img class="icon" src="{{ story.iconPath }}" alt="TO DO" />
        <h3 class="title">{{ story.title }}</h3>
      </div>
      <div class="description-container">
        <p class="description">
          {{ story.description.substring(0, 100) + "..." }}
        </p>
      </div>
    </article>
  </div>
</ng-container>
