.paginated-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  height: 100%;
  width: 813px;
  margin: auto;
}

.paginated-container :first-child {
  width: 813px;
}
/* first 5 stories */
.paginated-container > :first-child .icon-container,
.paginated-container > :nth-child(n+2):nth-child(-n+5) .icon-container {
  position: relative;
}
.paginated-container > :first-child .icon,
.paginated-container > :nth-child(n+2):nth-child(-n+5) .icon {
  height: 300px;
}
.paginated-container > :first-child .title,
.paginated-container > :nth-child(n+2):nth-child(-n+5) .title {
  position: absolute;
  z-index: 9;
  bottom: 0;
  left: 0;
  padding: 0.5rem;
  max-width: 90%;
  background-color: #e4004178;
  color: #fff;
  margin: 0;
  font-size: 24px;
  letter-spacing: -1px;
}
.paginated-container :nth-child(n+2):nth-child(-n+5) .icon-container {
  width: 403px;
  height: 300px;
}
.paginated-container :nth-child(n+2):nth-child(-n+5) .description-container p {
  width: 403px;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  overflow: hidden;
}
.paginated-container :nth-child(n+6) .icon-container {
  display: flex;
  height: 150px;
}
.paginated-container :nth-child(n+6) .icon {
  width: 20%;
  height: 100%;
}
.paginated-container :nth-child(n+6) .title {
  width: 80%;
}
.paginated-container :nth-child(n+6) {
  width: 813px;
  height: 150px;
}

.story {
  width: 403px;
  height: 430px;
  position: relative;
  border-bottom: 1px solid #E40042;
  border-image: linear-gradient(to right,#fff, #e4004172,#e400415a, #e4004138, #fff);
  border-image-slice: 1;
}
.border-inner {
  border-bottom: 10px solid #E40042;
  border-image: linear-gradient(to right,#fff, #e4004172,#e400415a, #e4004138, #fff);
  border-image-slice: 1;
  border-radius: 50%;
  max-width: 97%;
  height: 10px;
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.icon {
  height: 100%;
  max-width: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

