.paginated-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  height: 100%;
  width: 813px;
  margin: auto;
}
.paginated-container :first-child {
  width: 813px;
}
.paginated-container :nth-child(n+6) {
  width: 813px;
  height: 100px;
 
}
.story {
  width: 403px;
  height: 300px;
  position: relative;
  padding: 5px;
}
.border-inner {
  border-bottom: 1px solid #E40042;
  border-image: linear-gradient(to right,#fff, #e4004172,#e400415a, #e4004138, #fff);
  border-image-slice: 1;
  border-radius: 50%;
  max-width: 97%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

