<form [formGroup]="editorForm" class="form-wrapper">
  <div class="title-wrapper">
    <h3>Title</h3>
    <input
      type="text"
      class="input"
      formControlName="title"
      placeholder="Enter title"
    />

    <ng-container
      *ngIf="
        editorForm.controls['title'].touched &&
        editorForm.controls['title'].value === ''
      "
    >
      <div class="error-message">Title is required</div>
    </ng-container>
  </div>
  <div class="datetime-picker-wrapper">
    <h3>Set event date and time</h3>
    <div class="datetime-picker">
      <input
        type="date"
        formControlName="date"
        class="input"
        placeholder="Enter event date"
      />
      <input
        type="time"
        formControlName="time"
        class="input"
        placeholder="Enter event time"
      />
    </div>
  </div>
  <div class="editor-wrapper">
    <h3>Editor</h3>
    <quill-editor
      #editor
      [style]="editorStyle"
      [modules]="quillConfig"
      formControlName="htmlData"
    >
    </quill-editor>
  </div>
  <div class="preview-wrapper">
    <div class="preview-bar">
      <h3>Preview</h3>
      <ng-container class="button-bar" *ngIf="!checkScreenSize()">
        <label class="label-as-btn-wrapper" (click)="setPreviewViewMode()">
          {{ previewVeiwMode }} View
          <i
            class="fa-solid fa-mobile-screen"
            *ngIf="previewVeiwMode === 'Mobile'"
          ></i>
          <i
            class="fa-solid fa-desktop"
            *ngIf="previewVeiwMode === 'Desktop'"
          ></i>
        </label>
      </ng-container>
    </div>
    <div class="preview-article">
      <div
        class="ql-editor"
        [ngClass]="{ mobile: previewVeiwMode === 'Mobile' }"
        *ngIf="editorForm.value.htmlData"
        [innerHTML]="editorForm.value.htmlData | sanitizeHtml"
      ></div>
    </div>
  </div>
  <div class="submit-wrapper">
    <button class="btn-primary-gray">Cancel</button>
    <button class="admin-btn-primary" (click)="onSubmit()">Submit</button>
  </div>
</form>
