<main class="main-content">
  <ng-container *ngIf="story">
    <article class="article ql-editor">
      <h1>{{ story.title }}</h1>
      <div [innerHTML]="story.htmlData | sanitizeHtml"></div>
    </article>
    <aside class="tags-container">
      <h3>Slicne Teme</h3>
      <ul class="tags">
        <ng-container *ngFor="let tag of temptags">
          <li>
            <a [routerLink]="['/stories', tag]">{{ tag }}</a>
          </li>
        </ng-container>
      </ul>
    </aside>
  </ng-container>
</main>
