<!-- Av tags -->
<div class="top-row">
  <h4>Aviable Tags</h4>
  <div class="btn-container">
    <button class="admin-btn-primary">
      <i class="fa-solid fa-edit"></i>
    </button>

    <button class="admin-btn-primary" (click)="expandTags()">
      <ng-container *ngIf="expandBtnSign == '+'">
        <i class="fa-solid fa-caret-down"></i>
      </ng-container>
      <ng-container *ngIf="expandBtnSign == '-'">
        <i class="fa-solid fa-caret-up"></i>
      </ng-container>
    </button>
  </div>
</div>
<div class="tags-container" #aviableTagsContainer>
  <div class="tag" *ngFor="let tag of aviableTags">
    <div class="tag-name" (click)="addToChosenTags(tag)">
      {{ tag.tagName }}
    </div>
  </div>
</div>
<!-- Chosen Tags -->
<div class="top-row">
  <h4>Chosen Tags</h4>
  <div class="btn-container">
    <button class="admin-btn-primary" (click)="expandTags()">
      <ng-container *ngIf="expandBtnSign == '+'">
        <i class="fa-solid fa-caret-down"></i>
      </ng-container>
      <ng-container *ngIf="expandBtnSign == '-'">
        <i class="fa-solid fa-caret-up"></i>
      </ng-container>
    </button>
  </div>
</div>
<div class="tags-container" #chosenTagsContainer>
  <div class="tag" *ngFor="let tag of chosenTags">
    <div class="tag-name">{{ tag.tagName }}</div>
  </div>
</div>
