/* You can add global styles to this file, and also import other style files */

@import '~quill/dist/quill.snow.css';
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
    font-family: inherit;
}

.content {
    margin-top: 50px;
    padding: 20px;
}
.main-content {
    margin: 0 auto;
    max-width: 800px;
}
.w100 {
    width: 100%;
}
.btn-primary-gray {
    font-family: inherit;
    background-color: #747474;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn-primary-gray:hover {
    background-color: #5f5f5f;
}
.btn-primary-gray:active {
    background-color: #4c4c4c;
}
.admin-btn-primary {
    font-family: inherit;
    background-color: #4BB543;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.admin-btn-primary:hover {
    background-color: #388e3c;
}
.admin-btn-primary:active {
    background-color: #2e7d32;
}
/* Main Article */
.article {
    margin: auto;
    max-width: 850px;
    margin-bottom: 50px;
}
.article p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}
