<div *ngIf="stories.length > 0" class="card-container">
  <div class="card" *ngFor="let story of stories; let i = index">
    <div class="published">
      <div class="published-text">Published:</div>
      <div class="published-value">
        {{ story.publishTime | date : "medium" }}
      </div>
    </div>
    <div class="card-body">
      <a [routerLink]="['/admin/story', story.id]">
        <h4 class="card-title">{{ story.title }}</h4>
        <div class="image-container">
          <ng-container *ngIf="story.imageDbs">
            <img class="card-image" [src]="story.imageDbs[0]" />
          </ng-container>
        </div>
      </a>
      <div class="tags">
        <span class="tag" *ngFor="let tag of story.tagNames">
          <span class="tag-name">{{ tag }},</span>
        </span>
      </div>
    </div>
    <footer class="card-footer">
      <button
        class="admin-btn-primary"
        [routerLink]="['/admin/update-story', story.id]"
      >
        Edit
        <i class="fa-solid fa-pen-nib"></i>
      </button>

      <button class="admin-btn-warn" (click)="onDeleteStory(story)">
        Delete
        <i class="fa-solid fa-trash-can"></i>
      </button>
    </footer>
  </div>
</div>
