<!-- create ng-container with condition if stories.length is greater then 0 -->
<div *ngIf="stories.length > 0" class="card-container">
  <div
    [class]="'card' + ' card' + i"
    *ngFor="let story of stories; let i = index"
  >
    <div class="card-body">
      <a [routerLink]="['/admin/story', story.id]">
        <h4 class="card-title">{{ story.title }}</h4>
        <img src="{{ story.iconPath }}" alt="" class="card-img-top" />
      </a>
      <p class="card-description">
        {{ story.description }}
      </p>
    </div>
    <footer class="card-footer">
      <button
        class="admin-btn-primary"
        [routerLink]="['/admin/update-story', story.id]"
      >
        Edit
        <i class="fa-solid fa-pen-nib"></i>
      </button>
      <button class="admin-btn-warn" (click)="onDeleteStory(story)">
        Delete
        <i class="fa-solid fa-trash-can"></i>
      </button>
    </footer>
  </div>
</div>
